

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>User</h1>
        </div>
        <div class="panel-body">
            <h2>Account Information</h2>
            <div class="row">
                <form class="form-horizontal" #userForm="ngForm">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <!-- hutchId -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="hutchId">Hutch Id</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="hutchId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.hutchId" name="hutchId">
                            </div>
                        </div>
                        <!-- appId -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="appId">App Id</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="appId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.appId" name="appId">
                            </div>
                        </div>
                        <!-- social name -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="socialName">Social Display Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="socialName" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.socialName" name="socialName">
                            </div>
                        </div>
                        <!-- cheater -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="isCheater">Cheater</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- banned -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="accountStatus">Account Status</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- VIP tier 0 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="spender">Spender</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- VIP tier 1 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="vip1">VIP Tier 1 Member</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- VIP tier 2 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="vip2">VIP Tier 2 Member</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- VIP tier 3 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="vip3">VIP Tier 3 Member</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- VIP tier 4 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="vip4">VIP Tier 4 Member</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- Limited Data Use flag -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="ldu">Limited Data Use</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <!-- deviceId -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="deviceId">Device Id</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="deviceId" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.deviceId" name="deviceId">
                            </div>
                        </div>
                        <!-- region -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="region">Region</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="region" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.region" name="region">
                            </div>
                        </div>
                        <!-- registration date -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="registrationDate">Registration Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="registrationDate" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.registrationDate" name="registrationDate">
                            </div>
                        </div>
                            <!-- last login date -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="lastLoginDate">Last Login Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="lastLoginDate" [(ngModel)]="portalSync.userProfile && portalSync.userProfile.lastLoginDate" name="lastLoginDate">
                            </div>
                        </div>
                        <!-- hardCurrency1 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="hardCurrency1">Gold</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="hardCurrency1" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.hardCurrency1" name="hardCurrency1">
                            </div>
                            <div class="col-sm-2">
                                <button id="hardCurrency1Button" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- hardCurrency2 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="hardCurrency2">Cash</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="hardCurrency2" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.hardCurrency2" name="hardCurrency2">
                            </div>
                            <div class="col-sm-2">
                                <button id="hardCurrency2Button" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- softCurrency1 -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="softCurrency1">Fusion Points</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="softCurrency1" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.softCurrency1" name="softCurrency1">
                            </div>
                            <div class="col-sm-2">
                                <button id="softCurrency1Button" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- bronzeKeys -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="bronzeKeys">Bronze Keys</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="bronzeKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.bronzeKeys" name="bronzeKeys">
                            </div>
                            <div class="col-sm-2">
                                <button id="bronzeKeysButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- silverKeys -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="silverKeys">Silver Keys</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="silverKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.silverKeys" name="silverKeys">
                            </div>
                            <div class="col-sm-2">
                                <button id="silverKeysButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- goldKeys -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="goldKeys">Gold Keys</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="goldKeys" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.goldKeys" name="goldKeys">
                            </div>
                            <div class="col-sm-2">
                                <button id="goldKeysButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- xp -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="xp">XP</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="xp" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.xp" name="xp">
                            </div>
                            <div class="col-sm-2">
                                <button id="xpButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- level -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="level">Level</label>
                            <div class="col-sm-6">
                                <input class="form-control" min="0" id="level" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.level" name="level">
                            </div>
                            <div class="col-sm-2">
                                <button id="levelButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <!-- level -->
                        <div class="form-group">
                        <label class="col-sm-4 control-label" for="trophies">Trophies</label>
                        <div class="col-sm-6">
                            <input class="form-control" min="0" id="trophies" type="number" [ngModel]="portalSync.userProfile && portalSync.userProfile.trophies" name="trophies">
                        </div>
                        <div class="col-sm-2">
                            <button id="trophiesButton" class="btn btn-success">Submit</button>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </form>
            </div>
            <h2>Player Error Logs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Verbosity</th>
                        <th>Timestamp</th>
                        <th>Scope</th>
                        <th>RequestId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of portalSync.logEntries" [ngClass]="{ danger: log.verbosity === 'ERROR', warning: log.verbosity === 'WARN' }">
                        <td>{{log.verbosity}}</td>
                        <td>{{log.timestamp}}</td>
                        <td>{{log.scope}}</td>
                        <td>
                            <a routerLink="/logs/requestId/{{region}}/{{log.requestId}}" target="_blank">{{log.requestId}}</a>
                        </td>                    
                    </tr>
                </tbody>
            </table>
            <h2>IAP Receipts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ReceiptId</th>
                        <th>Receipt Provider</th>
                        <th>ProductId</th>
                        <th>Date of Purchase</th>
                        <th>Approximate Dollar Value</th>
                        <th>Refunded</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receipt of portalSync.userIAPReceipts" [ngClass]="{ warning: receipt.refunded }">
                        <td>{{receipt.orderId ? receipt.orderId : receipt.receiptId}}</td>
                        <td>{{receipt.provider}}</td>
                        <td>{{receipt.productId}}</td>
                        <td>{{receipt.dateOfPurchase}}</td>
                        <td>{{receipt.approximateDollarValue}}</td>
                        <td>{{receipt.refunded}}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Offer Receipts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>OfferId</th>
                        <th>Times Claimed</th>
                        <th>Last Triggered</th>
                        <th>Last Claimed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receipt of portalSync.userOfferReceipts">
                        <td>
                            <a routerLink="/offer/{{receipt.offerId}}" target="_blank">{{receipt.offerId}}</a>
                        </td>
                        <td>{{receipt.numTimesClaimed}}</td>
                        <td>{{receipt.triggerDates.length > 0 ? receipt.triggerDates[receipt.triggerDates.length - 1] : 'Not triggered'}}</td>
                        <td>{{receipt.awardDates.length > 0 ? receipt.awardDates[receipt.awardDates.length - 1] : 'Not Claimed'}}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Social Details</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Social Type</th>
                        <th>Social Id</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Locale</th>
                        <th>Region</th>
                        <th>Is Dissociated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of portalSync.socialAccounts">
                        <td>{{details.socialType}}</td>
                        <td>{{details.socialId}}</td>            
                        <td>{{details.socialDetails.name}}</td>
                        <td>{{details.socialDetails.email}}</td>
                        <td>{{details.socialDetails.locale}}</td>
                        <td>{{details.region}}</td>
                        <td>{{details.isDissociated}}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Cars</h2>
            <div class="row">
                <form class="form-horizontal" #carsForm="ngForm">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-8">
                      <div class="row">
                          <div class="form-group">
                              <table>
                                  <tr>
                                      <th>Car Image</th>
                                      <th width="50%">Car Name/ID</th>
                                      <th width="20%">Star Rating</th>
                                      <th width="20%">Details</th>
                                      <th>Remove</th>
                                  </tr>
                                  <tr *ngFor="let car of portalSync.userCars | paginate: { itemsPerPage: 9, currentPage: 1 }">
                                      <td><img src="https://rrimages.azureedge.net/16/cars/{{carsMap.get(car.carId).imageName}}_Thumb.png"></td>         
                                      <td><h4>"{{carsMap.get(car.carId).modelName}}"</h4></td>           
                                      <td allign="centre"><h4>"{{carsMap.get(car.carId).stars}}"</h4></td>   
                                      <td><button id="selectCar" class="btn btn-success" (click)="onSelectCar(car)"><span class="fa fa-info-circle"></span>Details</button></td>              
                                      <td><button id="removeCar" class="btn btn-danger" (click)="onRemoveCar(car)"><span class="fa fa-exclamation-circle"></span>Remove</button></td>               
                                  </tr>
          
                              </table>
                             
                          </div>
                          <div class="form-group">
                              <div class="has-text-centered">
                                  <pagination-controls></pagination-controls>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-3"></div>
                </form>
            </div>
            <h2>Resources</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>ResourceId</th>  
                            <th>Category</th>  
                            <th>Name</th> 
                            <th>Level</th> 
                            <th>Amount</th>
                            <th>MaxAmount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr *ngFor="let resource of portalSync.userResources | paginate: { id: 'pagination-user-resources', itemsPerPage: 9, currentPage: 1 }" >
                            <td class="col-sm-2">
                                <img src="https://rrimages.azureedge.net/16/resources/{{this.resourceMap.get(resource.resourceId).imageName}}.png" width="128" height="128">
                            </td>
                            <td class="col-sm-2">{{resource.resourceId}}</td>
                            <td class="col-sm-2">{{resourceMap.get(resource.resourceId).category}}</td>
                            <td class="col-sm-2">{{resourceMap.get(resource.resourceId).displayName}}</td>
                            <!-- as all displaynames start with stage x -->
                            <td class="col-sm-2">{{resourceMap.get(resource.resourceId).displayName.substr(6,1)}}</td>
                            <td class="col-sm-2">{{resource.amount}}</td>
                            <td class="col-sm-2">{{resourceMap.get(resource.resourceId).maxAmount}}</td>
                            <td class="col-sm-2">
                                <button id="addResource" class="btn btn-success" (click)="onAddResource(resource.resourceId)"><span class="fa fa-arrow-up"></span> </button>
                                <button id="removeResource" class="btn btn-danger" (click)="onRemoveResource(resource.resourceId)"><span class="fa fa-arrow-down"></span></button>
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="has-text-centered">
                    <pagination-controls id="pagination-user-resources"></pagination-controls>
                </div>
            </div>
            <h2>Augments</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Image</th> 
                            <th>Name</th>
                            <th>UserCarId</th> 
                            <th>UserAugmentId</th> 
                            <th>Slot</th> 
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- need this as wont show any data when first init -->
                        <tr *ngFor="let augment of portalSync.userAugments | paginate: { id: 'pagination-user-augments', itemsPerPage: 9, currentPage: 1 }">
                            <td class="col-sm-2">
                                <img src="https://rrimages.azureedge.net/16/augments/{{this.augmentMap.get(augment.augmentId).imageName}}.png" width="128" height="128">
                            </td>
                            <td class="col-sm-2">{{augmentMap.get(augment.augmentId).displayName}}</td>
                            <td class="col-sm-2">{{augment.userCarId}}</td>
                            <td class="col-sm-2">{{augment.userAugmentId}}</td>
                            <td class="col-sm-2">{{augment.slot}}</td>
                            <td class="col-sm-2">
                                <button id="unequipAugment" class="btn btn-warning" (click)="onUnequipAugment(augment)">Unequip</button>
                                <button id="removeAugment" class="btn btn-danger" (click)="onRemoveAugment(augment)">Remove</button>
                            </td>
                        </tr>     
                    </tbody>
                </table>    
            </div>        
            <div class="form-group">
                <div class="has-text-centered">
                    <pagination-controls id="pagination-user-augments"></pagination-controls>
                </div>
            </div>
            <h2>Fuel</h2>
            <div class="row">
                <form class="form-horizontal" #fuelForm="ngForm">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <!-- Permanent fuel increase -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="permanentFuelIncrease">Fuel increase purchased?</label>
                          <div class="col-sm-6">
                          </div>
                          <div class="col-sm-3">
                              <button type="button"
                                  class="btn btn-success">Purchase</button>
                          </div>
                      </div>
                        <!-- remaining -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="remaining">Fuel remaining:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="remaining" [ngModel]="portalSync.fuel && portalSync.fuel.remaining" name="remaining">
                            </div>
                            <div class="col-sm-2">
                                <button type="button"
                                    class="btn btn-success">Set Fuel</button>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <!-- timer -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="timer">Next fuel available:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="timer" [disabled]="true" [(ngModel)]="portalSync.fuel && portalSync.fuel.timer" name="timer">
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <!-- max -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="max">Max fuel:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="max" [disabled]="true" [(ngModel)]="portalSync.fuel && portalSync.fuel.max" name="max">
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </form>
            </div>
            <h2>Daily Gift</h2>
            <div class="row">
                <form class="form-horizontal" #dailyGiftForm="ngForm">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <!-- totalGiftsClaimed -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="totalGiftsClaimed">Total Gifts Claimed:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="totalGiftsClaimed" [disabled]="true" [(ngModel)]="portalSync.dailyGift && portalSync.dailyGift.totalGiftsClaimed" name="totalGiftsClaimed">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success" type="button"><span class="fa fa-arrow-up"></span> Claim Gift</button>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <!-- dateNextGiftAvailable -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="dateNextGiftAvailable">Date Next Gift Available:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="dateNextGiftAvailable" [disabled]="true" [(ngModel)]="portalSync.dailyGift && portalSync.dailyGift.dateNextGiftAvailable" name="dateNextGiftAvailable">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <!-- dateNextConsecutiveGiftAvailable -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="dateNextConsecutiveGiftAvailable">Date Next Consecutive Gift Available:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="dateNextConsecutiveGiftAvailable" [disabled]="true" [(ngModel)]="portalSync.dailyGift && portalSync.dailyGift.dateNextConsecutiveGiftAvailable" name="dateNextConsecutiveGiftAvailable">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-danger" type="button"><span class="fa fa-unlock-alt"></span> Unlock</button>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <!-- consecutiveGiftsClaimed -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="consecutiveGiftsClaimed">Consecutive Gifts Claimed:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="consecutiveGiftsClaimed" [disabled]="true" [(ngModel)]="portalSync.dailyGift && portalSync.dailyGift.consecutiveGiftsClaimed" name="consecutiveGiftsClaimed">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <!-- maxConsecutiveGiftsClaimed -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="maxConsecutiveGiftsClaimed">Max Consecutive Gifts Claimed:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="maxConsecutiveGiftsClaimed" [disabled]="true" [(ngModel)]="portalSync.dailyGift && portalSync.dailyGift.maxConsecutiveGiftsClaimed" name="maxConsecutiveGiftsClaimed">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </form>
            </div>
            <h2>FTUE</h2>
            <div class="row">  
                <div class="col-md-offset-1 col-md-8">
                    <div *ngFor="let ftueStoryProgress of portalSync.ftueProgress">
                    <h2>
                        '{{ftueStoryProgress.ftueStory}}' FTUE
                    </h2>
                    <form class="form-horizontal" (ngSubmit)="onSubmitStarted(ftueStoryProgress.ftueStory)" #startedForm="ngForm">    
                        <div class="form-group">            
                
                            <label class="col-sm-3 control-label" for="lastStepStarted">Last Step Started</label>
                            <div class="col-sm-4">
                                <select class="form-control btn btn-primary" id="lastStepStarted"
                                    required 
                                    [(ngModel)]="ftueStoryProgress.lastStepStarted" name="lastStepStarted">
                                    <option *ngFor="let ftueStep of orderedFTUEConfig[ftueStoryProgress.version][ftueStoryProgress.ftueStory]" [ngValue]="ftueStep" [label]="ftueStep"></option>
                                </select>
                            </div>
                            <div class="col-sm-2" id="setStartedButton">
                                <button id="setStartedButton" type="submit" class="btn btn-success" [disabled]="startedForm.pristine">Set Last Step Started</button>
                            </div>
                        </div>
                    </form> 
                
                    <form class="form-horizontal" (ngSubmit)="onSubmitComplete(ftueStoryProgress.ftueStory)" #completeForm="ngForm">   
                        <div class="form-group">      
                        <label class="col-sm-3 control-label" for="lastStepComplete">Last Step Complete</label>
                        <div class="col-sm-4">
                            <select class="form-control btn btn-primary" id="lastStepComplete"
                                required 
                                [(ngModel)]="ftueStoryProgress.lastStepComplete" name="lastStepComplete">
                                <option *ngFor="let ftueStep of orderedFTUEConfig[ftueStoryProgress.version][ftueStoryProgress.ftueStory]" [ngValue]="ftueStep" [label]="ftueStep"></option>
                            </select>
                        </div>
                        <div class="col-sm-2" id="setCompleteButton">
                            <button id="setCompleteButton" type="submit" class="btn btn-success" [disabled]="completeForm.pristine">Set Last Step Complete</button>
                        </div>
                        </div>
                    </form> 
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-8">
                    <form class="form-horizontal" #completeAllForm="ngForm">   
                        <div class="form-group">      
                            <label class="col-sm-3 control-label" for="completeAll">Complete Entire FTUE</label>
                            <div class="col-sm-2" id="completeAll">
                            <button id="completeAllButton" type="submit" class="btn btn-danger">Go</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>  
            <h2>Fusion Credits</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fusionCredit of portalSync.fusionCredits">
                        <td>{{this.carManufacturerEnumMap[fusionCredit.manufacturerId]}}</td>
                        <td>
                            <input class="form-control" min="0" id="fusionCreditsAmount" type="number" [(ngModel)]="fusionCredit.amount" name="fusionCreditsAmount">
                        </td>    
                        <td>
                          <button id="changeFusionCreditsButton" class="btn btn-success">Submit</button>
                        </td>             
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
